<!DOCTYPE html>
<html lang="ru">
<head>
  <title><%=blocks.title%></title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/app.css"/>

  <script src="/vendor/bower_components/jquery/jquery.js"></script>
  <!-- <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Простой сервер чат express" />
</head>
<body>
<header>
  <%-blocks.header%>
</header>
<section class="container">

  <%-partial('../partials/topNavigation')%>

  <h1><%=blocks.title%></h1>

  <%-body -%>
</section>
<footer>
  <%-blocks.footer%>
</footer>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script> -->
<script src="./js/app.js" charset="utf-8"></script>
</body>
</html>
